<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:cxf="http://cxf.apache.org/core"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

	<!--  CXF Resources -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml"/>
	<import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" />
	
	<!-- Hibernate configuration -->
	<import resource="classpath:hibernateApplicationcontext.xml"/>
	
	
	<!--  Rest Based Service -->
	<bean class="com.data.services.rest.impl.StudentService" id="stuService"  autowire="byType"/>
	
	<jaxrs:server id="appServices" address="/">
		<jaxrs:serviceBeans>
			<ref bean="stuService" />
		</jaxrs:serviceBeans>
	</jaxrs:server>
	
	<!-- <bean class="com.test.soap.service.EmpServiceImpl" id="empService"/>
	
	<jaxws:endpoint id="EmployeeService"  implementor="#empService"   address="/" /> -->
</beans>

 <!-- http://localhost:8080/cxfservice/rest/stuservice/getStudent/101 -->
